:root {
    --bs-primary-100: #e4eed3;
    --bs-primary-200: #cadda7;
    --bs-primary-300: #afcc7b;
    --bs-primary-400: #95bb4f;
    --bs-primary-500: #7aaa23;
    --bs-primary-600: #62881c;
    --bs-primary-700: #496615;
    --bs-primary-800: #31440e;
    --bs-primary-900: #182207;
}