:root {
    --bs-primary-100: #ffe9cd;
    --bs-primary-200: #ffd39b;
    --bs-primary-300: #ffbd69;
    --bs-primary-400: #ffa737;
    --bs-primary-500: #FF9105;
    --bs-primary-600: #cc7404;
    --bs-primary-700: #995703;
    --bs-primary-800: #663a02;
    --bs-primary-900: #331d01;
}