.card-carousel {
	position: relative;
	height: 600px; /* atau 40vh / 60vh sesuai kebutuhan */
	/* sama dengan tinggi kartu */
	width: 100%;
	max-width: 100vw;
	overflow: hidden;
}

.my-card {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 10px;
	transform: translate(-50%, -50%) scale(0.6);
	opacity: 0;
	pointer-events: none;
	transition: transform 0.6s ease, opacity 0.6s ease;
	height: 90%;
	width: 350px; /* atau sesuai kebutuhan */
	background: linear-gradient(to top, #7fbee0, #ffffff);
	z-index: 1;
}

.my-card::before {
	content: attr(data-index);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 3rem;
	font-weight: 300;
	color: #fff;
}

.my-card::after {
	content: '';
	position: absolute;
	height: 2px;
	width: 100%;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	bottom: -5rem;
	filter: blur(4px);
}

.my-card.active {
	transform: translate(-50%, -50%) scale(1);
	opacity: 1;
	pointer-events: auto;
	z-index: 3;
}

.my-card.prev {
	transform: translate(-150%, -50%) scale(0.8);
	opacity: 0.6;
	pointer-events: auto;
	z-index: 2;
}

.my-card.next {
	transform: translate(50%, -50%) scale(0.8);
	opacity: 0.6;
	pointer-events: auto;
	z-index: 2;
}

.my-card .carousel-inner {
	height: 83%;
}

.my-card .carousel-item {
	top: 0;
	height: 100%;
}

.my-card .carousel-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
}

.line-story {
	border-radius: 2px;
	width: 100%;
	height: 0;
	border: 2px solid #a1a1a1;
	margin: 3px;
	display: inline-block;
}

.line-story.seen {
	border-color: #ffffff;
}

.my-card .carousel-indicators {
	display: none;
}

.carousel {
  height: 500px; /* atau 40vh / 60vh sesuai kebutuhan */
  max-height: 500px;
}

.carousel-inner,
.carousel-item {
  height: 100%;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem; /* rounded-5 bootstrap */
}
