/* Login Style */
@media screen and (max-width: 767px){

	.background-wrapper {
		position: relative;
		height: 263px; /* Tinggi elemen utama */
		overflow: hidden; /* Menyembunyikan bagian gambar yang melebihi elemen */
		width: 100%;
	}

	.background-wrapper img {
		max-height: 263px;
		height: auto;
		width: 100%;
	}

	#login-left-side {
		display: none !important;
	}

	#login-form{
		width: 100%;
		padding: 20px;
		background-image: none !important;
	}

	#login-form h3 {
		color: #383838 !important;
		font-size: 32px;
		margin-bottom: 30px;
	}

	.row.h-100{
		padding: 0px;
		height: 400px !important;
	}

	.text-justify {
		text-align: justify;
	}

	#login-form button {
		width: 100%;
		background-color: var(--bs-primary) !important;
		color: var(--bs-white) !important;
		border-radius: 25px;
		height: 50px;
		font-size: 18px;
	}

	input.form-control {
		border-color: #74788D
	};
}

@media (min-width: 767px){
	.icon-woowedu {
		display: none;
	}	

	.background-wrapper {
		display: none;
	}
}
/* Login Style End */

/* Dashboard / Home style */
@media screen and (max-width: 767px){
	.navbar > .nav-link {
		display: none;
	}

	.profile-btn-center, .profile-btn-right {
		display: none !important;
	}

	.breadcrumb {
		display: none;
	}

}

@media screen and (min-width: 576px){
	.btn-menu {
		display: none;
	}
}

.papan-pengumuman{
	position: relative;
	left: 10px;
	margin-top: 10px;
}
.papan-pengumuman p {
	display: inline-block;
}

.carousel-item {
	top: -50px;
}

.tanggal-pengumuman {
	text-align: right;
	margin-right: 20px;
}

@media screen and (max-width: 576px){
	.carousel-item > div > a, .carousel-item > div p {
		font-size: 12px;
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical; 
	}

	.papan-pengumuman {
		text-align: center;
	}

	.papan-pengumuman p {
		text-align: center;
	}

	.carousel-item{
		top: -75px;
	}

	.tanggal-pengumuman {
		text-align: center;
	}
}

@media screen and (min-width: 576px) and (max-width: 1440px) {
	.carousel-item > div > a, .carousel-item > div p {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical; 
	}
}

/* Dashboard / Home style End */

.profile-container{
	text-align: center;
	position: absolute;
	border: 1px;
	border-color: aquamarine;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	/* right: 50px; */
	margin-left: -100px;
	width: 200px;
}
.profile-container > p, .profile-container a p {  cursor: pointer;  margin-top: 5px;  margin-bottom: 5px; font-size: 16px; } 
.profile-container > p:hover, .profile-container a p:hover {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.18);
	border-radius: 16px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(5.3px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.1);
} 
.fs-10{ font-size: 10px; }
.fs-12{ font-size: 12px; }
.fs-14{ font-size: 14px; }
.fs-16{ font-size: 16px; }
.fs-20{ font-size: 20px; }
.card .title{
	letter-spacing: 0;
    line-height: 1.5rem;
    /* z-index: 2; */
    padding: 15px 15px 0 15px;
    color: #383838;
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}
.sesi-class{ font-weight: bold; padding: 10px;cursor: pointer; } 
.sesi-class.active{ border-bottom: 3px solid green; color: green; } 
.news-item h6:hover{ color: rgb(0, 142, 0) !important; cursor: pointer; }
.news-item:hover{ transform: scale(1.01); }
.btn-clear:hover{ background-color: rgba(0, 0, 0, 0.1); }
.profile-image-menu img{ border-radius: 50%; margin-top: 20px; margin-bottom: 20px; }
.stat-circle {
    height: 116px;
    width: 116px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
	background-color: rgba(57, 201, 167, 0.1);
}
.stat-number {
	color: rgb(52, 196, 199);
    font-size: 32px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 38px;
    text-align: center;
}
.btn-eye{ cursor: pointer; }
.btn-eye i:hover{ color: rgb(0, 183, 0); transition: all .3s ease-in-out;}
.image-content img{
	border-radius: 50%;
    border-color: black;
    border: 1px solid #bdc1b8;
    padding: 2px;
}
.data-by-date input{ border-radius: 10px; border: 1px solid #bdc1b8; }
.table-rounded{ border-collapse: separate; border: solid #a8ded863 1px; border-radius: 10px; }
.table-rounded td, .table-rounded th {
	border-left: solid #a8ded863 1px;
	border-top: solid #a8ded863 1px;
	padding: 10px;
}
.table-rounded th { background-color: #59c2ff1e; border-top: none; color: white; } 
.table-rounded td:first-child, .table-rounded th:first-child { border-left: none; } 
a { cursor: pointer; } 
@media screen and (min-width:1080px) and (max-width: 1080px) and (min-height: 2160px) and (min-height: 2160px){
	html, body{ height: 100%; }
	html body main{ height: 95%; }
}
@media screen and (min-width:990px) and (max-width: 1200px){
	#navbarNav .d-lg-block{
		position: absolute;
		right: 24px;
	}
}
.dataTables_length, .dataTables_filter{ display: none; }
#tableTask_info, #tableExam_info { display: none; }
#nav-bar .nav-item a.nav-link{
	background-image: linear-gradient(
		to right,
		#ffffb3,
		#fdff75 50%,
		#FFF 50%
	);
	font-weight: bold;
	background-size: 200% 100%;
	background-position: -100%;
	display: inline-block;
	padding: 5px 0;
	position: relative;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.3s ease-in-out;
}

.nav-item a.nav-link::before{
	content: '';
	display: block;
	position: absolute;
	bottom: -3px;
	left: 0;
	width: 0;
	height: 3px;
	transition: all 0.3s ease-in-out;
}

#nav-bar > nav {
	background-color: rgba(0, 0, 0, 0.4) !important;
    height: 100%;
}

#nav-bar .nav_logo {
	filter: drop-shadow(1px 0px 5px rgba(0, 0, 0, 0.4));
}
/* .nav-item a.nav-link:hover{ background-position: 0; font-weight: 600; } */
/* .nav-item a.nav-link:hover::before{ width: 100%; height: 5%; } */


/* =================================================================== */
/* =============================== Notif ============================= */
/* =================================================================== */
@media screen and (min-width: 576px){
	.profile-mobile-content {
		display: none;
	}

}


@media screen and (max-width: 576px) {
	.notif-content {
		width: 350px !important;
		margin-right: -50px;
	}


	.dropdown .btn-profile {
		border-style: none;
	}

	#previewImg {
		margin-top: -75px;
		margin-left: 100px;
	}

	.camera-button {
		margin-top: 20px !important;
		left: 200px !important;
	}

	.profile-mobile-content {
		margin-top: 80px;
	}

	.profile-desktop-section {
		display: none !important;
	}
}

@media screen and (max-width: 375px){
	#previewImg {
		margin-left: 75px;
	}

	.camera-button {
		margin-top: 20px !important;
		left: 175px !important;
	}
}

@media screen and (max-width: 320px){
	#previewImg {
		margin-left: 45px;
	}
	.camera-button {
		margin-top: 20px !important;
		left: 150px !important;
	}
}

.notif-number{  position: absolute; margin-left: -8px; }
.notif-group{ cursor: pointer; }
 .notif-content::-webkit-scrollbar{ width: 5px; }
 .notif-content::-webkit-scrollbar-track{ background: #f1f1f1; }
 .notif-content::-webkit-scrollbar-thumb{ background: #888; }
 .notif-content::-webkit-scrollbar-thumb:hover{ background: #aaa; }
 /* @media screen and(min-width: 1200) and (max-width: 1400px) {
	.notif-content-container{
		right: 200px;
	}
 } */
.notif-header{ margin-top: 5px; }
.notif-list{
	padding: 10px;
	background-color: #eef7fc;
	border-radius: 7px;
	margin-bottom: 3px;
	cursor: pointer;
}

.notif-title p {
	word-wrap: break-word;      /* IE 5.5-7 */
	white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
	white-space: pre-wrap;      /* current browsers */
}

.notif-date{
	color: #8d8d8d;
}
.dotted-notif{
	background-color: green;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	display: inline-block;
	position: absolute;
	margin-bottom: -34px;
	right: 30px;
}

/* ======================================================================= */
/* =============================== Notif END ============================= */
/* ======================================================================= */


/* .dataTables_paginate.paging_simple_numbers{ margin-top: 10px; }
.dataTables_paginate.paging_simple_numbers span a.paginate_button.current{ 
	background-color: rgb(80, 165, 241);
	border-radius: 10px;
	border-color: rgb(206, 223, 255);
}
.dataTables_paginate.paging_simple_numbers span a.paginate_button:hover{
	background-color: rgb(80, 165, 241);
	border-radius: 10px;
	border-color: rgb(206, 223, 255);
} */
.date-news-card{
	background-color: white;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}
.title-news-card{ text-align: center; font-size: 20px; padding-bottom: 20px; }
.content-news-card{ font-size: 16px; padding-top: 20px; }
.task-card-content{ font-size: 16px;}
.task-card-title{ font-size: 20px;}
.task-card-date{
	background-color: orange;
	padding-left: 5px;
	padding-right: 5px;
	border-radius: 10px;
	color: white;
}

.dropdown-menu {
	white-space: nowrap;
}

.l-navbar .nav-link {
    position: relative;
}


.l-navbar .nav-link.active {
    color: var(--white-color);
}

.l-navbar .nav-link:first-child::before {

}

.l-navbar .nav-link:before {
	transition: all 0.3s ease-in-out;
}

.l-navbar .nav-link.active::before,
.l-navbar .nav-link:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 6px;
    height: calc(100% - 6px);
    background-color: var(--bs-white);
	transition: all 0.3s ease-in-out;
}


@media screen and(min-width: 990px) and (max-width: 1200px){
	.navbar-brand{
		margin-top: 0px;
	}
	#navbarNav #ulNavbarNav{
		margin-left: 0px !important;
	}
	.card-foto-siswa, .card-filter-tugas{
		height: 300px;
	}
}

/* .total-exam{
	background: #c1faff;
    border: 1px solid #0dc7ff;
} */

@media screen and(min-width: 768px) and(max-width: 990px){
	.card-foto-siswa, .card-filter-tugas{
		height: 400px;
	}
}

.input-group-text-transparent {
	border-left: 0;
	background-color: transparent;
}

.select2-dropdown {
	height: 300px;
	overflow-y: auto;
}

.text-shadow {
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}

.dropdown .dropdown-item:hover {
	background: rgb(255,255,255);
	background: #ced4da;
	border-radius: 10px 10px;
}

/* MOBILE VIEW RUANG SISWA - SESI */
@media screen and (max-width: 450px) {
	.fc-toolbar-title {
		position: absolute;
		margin-top: 25px !important;
	}
	.fc .fc-toolbar.fc-header-toolbar{
		margin-bottom: 3.5em;
	}
	.fc .fc-toolbar-title{
		font-size: 16px !important;
	}
}
/* MOBILE VIEW RUANG SISWA - SESI - END */

/* MOBILE VIEW EBOOK */
@media (max-width: 430px){
	#btn-group-search {
		text-align: end;
	}
}
/* MOBILE VIEW EBOOK - END */

/* MOBILE VIEW TUGAS */
@media (max-width: 430px){
	.breadcrumb {
		display: none;
	}

	.breadcrumb .justify-content-start{
		display: none;
	}

	#breadcrumb-main {
		display: flex;
	}

	.waktu-tugas .text-end {
		text-align: left !important;
		margin-top: 10px;
	}

	#form-tugas #simpan {
		float: inline-end;
	}
}
/* MOBILE VIEW TUGAS - END */

/* MOBILE VIEW STUDENT DETAIL */
@media (max-width: 575px){
	.card-image-profile > div > img{
		width: 100%;
		height: 140px !important;
		border-top-right-radius: 12px;
		border-top-left-radius: 12px !important;
		border-bottom-left-radius: 0px !important;
	}

	.card-image-profile > div > span > img{
		width: 80px;
		height: 80px !important;
	}

	.card-image-profile > div:nth-child(2) p {
		margin-bottom: 5px;
	}

	#nav-tab{
		display: none;
	}

	.cari-materi-group div:nth-child(3){
		text-align: end;
	}
}
/* MOBILE VIEW STUDENT DETAIL - END*/

.bg-primary-600 {
	background-color: var(--bs-primary-600) !important;
}

.bg-primary-300 {
	background-color: var(--bs-primary-300) !important;
}

.dropdown-menu.show {
	box-shadow:0px 0px 10px #cdcdcd;
	border-color: rgba(100, 100, 100, 0.1) !important;
}

.alert-perubahan-tema {
	position: fixed;
	bottom: -200px;
	width: 50%;
	right: 100px;
	transition: all 0.5s ease-in-out;
}

.alert-perubahan-tema.show {
	bottom: 20px;
	transition: all 1s ease-in-out;
}
