form[name="frm-book"] label {
    color: var(--gray);
}

form[name="frm-book"] input::placeholder, 
form[name="frm-book"] textarea::placeholder {
    color: var(--gray);
    font-style: italic;
}

#ebook-file .custom-file-label {
    padding-left: 5.6rem;
}
#ebook-file .custom-file-label:after {
    left: 0;
    right: auto;
    content: "Pilih File";
}

.lbl-img {
    position: relative;
    border: 1px dashed #ced4da;
    cursor: pointer;
    padding: .25rem;
}

.lbl-img > i {
    font-size: 20px;
    padding: .25rem;
}

.lbl-img > img {
    position: absolute;
    top: 0;
    left: 0;
}

.btn-remove-img {
    background-color: var(--white);
    opacity: 50;
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    justify-content: center;
    align-items: center;
    margin-top: -0.5rem;
    margin-right: -0.5rem;
    border: 1px solid lightgrey;
}

/* select2 override */
.select2-search--inline {
    display: inline-block; /*this will make the container disappear, making the child the one who sets the width of the element*/
}

.select2-search__field:placeholder-shown {
    width: 100% !important; /*makes the placeholder to be 100% of the width while there are no options selected*/
}