:root {
    --bs-primary-100: #d4d1e9;
    --bs-primary-200: #a9a4d4;
    --bs-primary-300: #7e76be;
    --bs-primary-400: #5349a9;
    --bs-primary-500: #281B93;
    --bs-primary-600: #201676;
    --bs-primary-700: #181058;
    --bs-primary-800: #100b3b;
    --bs-primary-900: #08051d;
}