@font-face {
    font-family: 'Poppins';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Thin.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraLight.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Light.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Regular.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Medium.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-SemiBold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Bold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-ExtraBold.ttf') format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: 'Poppins';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/webfontworld/Poppins/Poppins-Black.ttf') format("truetype");
    font-display: swap;
} 

:root {
    --header-height: 3rem;
    --nav-width: 280px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
    --gray-600: #6C757D;
}

body {
    position: relative;
    /* margin: var(--header-height) 0 0 0; */
    padding: 0 1rem;
    font-family: var(--body-font) !important;
    font-size: var(--normal-font-size);
    transition: .5s
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}

.header_img {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden
}

.header_img img {
    width: 40px
}

.sidebar-icon {
    width: 50px;
    padding-top: 4px;
    padding-left: 20px;
}

.l-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: 0px 0px 0px 0px;
    transition: .5s;
    z-index: var(--z-fixed);
    background: var(--sidebar-bg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.nav_logo {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem;
    margin-top: 0px;
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--white-color);
    margin-bottom: 1.5rem;
    transition: .3s;
}

.nav_link:hover {
    color: var(--white-color);
}

.nav_icon {
    font-size: 1em;
}

.nav_top {
    background-color: white; 
    justify-content: space-between;
    position: sticky;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    padding-top: 20px;
}

.l-navbar.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}




.p-nav {
    padding-top: 10px;
    color: var(--white-color);
    padding-left: 20px;
    font-size: 1em;
    width: 200px;
}

.btn-logout{
    width: 200px;
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: white;
    margin-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 6px;
}

.btn-logout:hover{
    background-color: white;
}

.p-header{
    font-size: 16px;
    color: var(--gray-600);
}

.p2-header{
    font-size: 24px;
    font-weight: 600px;
    color: black;
}

.content-wrapper{
    padding-top: 40px;
}

@media screen and (min-width: 576px) {

	.icon-menu {display: inline;}
	.close-menu {display: inline;}

    body {
        /* margin: calc(var(--header-height) + 1rem) 0 0 0; */
        padding-left: calc(var(--nav-width) + 2rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 2rem)
    }

    .header_img {
        width: 40px;
        height: 40px
    }

    .header_img img {
        width: 45px
    }

    /* .l-navbar {
		display: none;
        left: 0;
        padding: 0px 0px 0px 0px;
    } */

	/* .l-navbar .nav {
		display: none;
	} */

    /* .l-navbar.show {
        width: calc(var(--nav-width) + 156px)
    } */

    /* #body-pd {
       padding-left: calc(var(--nav-width) + 20px)
    } */

	#btn-menu {
		display: none;
	}

	#btn-close-menu{
		display: none;
	}
}

@media screen and (max-width: 576px) {

	/* .l-navbar {
		display: none;
    } */

	/* .l-navbar .nav {
		display: none;
	} */
}

.card-success {
    background-color: var(--bs-success-border-subtle);
}

.card-success .date-news-card {
    background-color: var(--bs-success);
    color: var(--bs-light);    
}

.card-warning {
    background-color: var(--bs-warning-border-subtle);
}

.card-warning .date-news-card {
    background-color: var(--bs-warning);
    color: var(--bs-light);
}

.card-danger {
    background-color: var(--bs-danger-border-subtle);
}

.card-danger .date-news-card {
    background-color: var(--bs-danger);
    color: var(--bs-light);
}

.card-info {
    background-color: var(--bs-info-border-subtle);
}

.card-info .date-news-card {
    background-color: var(--bs-info);
    color: var(--bs-light);
}

:is(.card-success, .card-info, .card-warning, .card-danger),
:is(.card-success, .card-info, .card-warning, .card-danger) a {
    color: var(--bs-dark);
}

.input-group-text-transparent {
    border-left: 0;
    background-color: transparent;
}
